@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular-webfont.woff') format('woff'),
         url('montserrat-regular-webfont.ttf') format('truetype'),
         url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont-webfont.eot');
    src: url('opensans-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont-webfont.woff') format('woff'),
         url('opensans-regular-webfont-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?31296799');
  src: url('fontello.eot?31296799#iefix') format('embedded-opentype'),
       url('fontello.woff?31296799') format('woff'),
       url('fontello.ttf?31296799') format('truetype'),
       url('fontello.svg?31296799#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: .2em } 
.icon-search:before { content: '\e804'; }
.icon-menu:before { content: '\e802'; } 
.icon-calendar:before { content: '\e803'; }

body { font-family: 'open_sansregular', helvetica; font-size:14px; line-height:1.4; background:#a8a8a8; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:none }
.landing body { font-family: 'montserratregular', helvetica; }

.accent-bg,
.accent-bg th { color:#fff !important; background: #d0112b !important }

a { color: #e21836; text-decoration:none }
.no-touch a:hover { color: #fdb813 }

h1,
h2 { color: #E21836 }

h1 { font-size:24px }
h2 { font-size:20px }
h3 { font-size:20px }
h4 { font-size:18px }

#page { position:relative; z-index:2 }
#page-background { width:100%; position:absolute; right:0; top: 215px; z-index:1;  }
#page-background img { display:block; width:100%; }

#wrapper { max-width:1008px; margin:0 auto; }
.internal-page .mainbody { min-height:500px; padding:10px; background:#FFF; font-family:font-family: 'open_sansregular',helvetica; margin-bottom:20px }

#site-header { background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/header_bg.jpg) no-repeat 50% 0; margin-bottom: 20px;}
#site-header > .container { max-width:1008px; margin:0 auto; position:relative; z-index:3; height:216px }
#header-logo { position:absolute; top: 36px; left: -45px; margin: 0; z-index: 3;}
#header-logo a { display:block; width:230px; height:220px; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) no-repeat 0 0; text-indent: -9999px;}
#header-text { display:block; width:792px; height: 129px; text-indent:-9999px; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) -240px 0; position:absolute; left: 215px; top: 28px;}
#site-footer { text-align:center}
#footer-logos { margin-bottom:20px; background:#000; padding:30px 10px 10px; -moz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px }
#footer-logos li, #footer-logos ul { list-style:none; padding:0; margin:0 }
#footer-logos li { display:inline-block; vertical-align:top }
.ie7 #footer-logos li { display:inline; zoom:1 }
#footer-logos li span { display:none }

.navbar-image ul { list-style:none; margin:0 }
.navbar-image li img { vertical-align:top }
.navbar-image li span { position:absolute; left:-9999px }

.bottom-row { margin-bottom:20px }
.bottom-row .lcol { width: 51.58730158730159%; border: 1px solid #575757; float:left; background:#000; background:rgba(0,0,0,0.5);}
.bottom-row .rcol { width: 24.30555555555556%; float:right }
.bottom-row .mcol { width: 21.62698412698413%; margin-left:1%; overflow: hidden;float:left}

#search-bar,
#mobile-menu-bar { display:none }

.box-title { height:30px; line-height:30px; margin:0; font-weight:normal; font-size:11px; text-indent:10px; background:#F0F0F0; border:1px solid #CCC }

.aotw {  text-align:center; padding:10px }
.aotw .athlete {width:50%; float:right; box-sizing:border-box; }
.aotw .athlete:first-child { float:left }
.aotw .thumb img { vertical-align:top; height:250px }
.aotw .title { display:block; margin-bottom:10px; text-decoration:none }
.aotw .title span { display:block; font-size:14px; color:#fff }
.aotw .title span:nth-child(1) { font-size:20px; margin-bottom:5px; text-transform:uppercase; color:#000 }

.carousel-wrapper { height: 470px }
.carousel-wrapper .lcol { position: absolute; left: 0; top: 0; right: 278px;}
.carousel-wrapper .rcol { width: 278px; float:right ; position: absolute; right: 0; top: 0;}

/* CAROUSEL */
.j-carousel .seats:before,
.j-carousel .seats:after { content: " "; display:table }
.j-carousel .seats:after { clear:both }

.j-carousel { position:relative; overflow:hidden }
.j-carousel .seats { width:800%; overflow:hidden; position:relative }
.j-carousel .seat { width:12.5%; float:left; position:relative }
.j-carousel .media-box { height: 470px; width: 730px; overflow:hidden; position:relative ; background: #000;}
.j-carousel .media-box a > img,
.j-carousel .media-box > img { display:block; width:100% !important; height:auto !important; position:absolute; left:0; top:0 }
.j-carousel .story-box {  height:60px; padding:40px 25px 15px; font-family:'montserratbold' arial; color:#fff ; background:#000 ; background:rgba(0,0,0,0.7); position:absolute; left:0; right:0;  bottom:0 }
.j-carousel .story-box .title { display:block; color:#FFF; font-size:24px; line-height:1 }
.no-touch .j-carousel .story-box .title:hover { color:#E51837 }
.j-carousel .story-box .date { display:block; color: #ffffcc; font-size:15px; line-height:25px; text-transform:uppercase; position:absolute; left:25px; top:15px }
.j-carousel .story-box .pipe { display:inline-block; vertical-align:top; padding:0 5px; visibility:hidden; text-indent:-8px }
.j-carousel .story-box .pipe:after { content:"\b7"; visibility:visible; font-size:32px }
.j-carousel .story-box .leadin { display:none }
.j-carousel .story-box .readmore { display:none } 
.j-carousel .controls {  position:absolute; right:25px; bottom:90px } 
.j-carousel .control { width:6px; height:6px; float:left; margin-left:6px; background:#999; text-indent:-9999px; border-radius:10px; cursor:pointer }
.j-carousel .control.active { background:#FFF; box-shadow:0 0 5px #FFF }

.thumb-slider .slider { width:100%; position:relative; overflow:hidden }
.thumb-slider { padding: 40px 10px 10px; background: #FFF;}
.thumb-slider .thumb-info { width: 60%; float: right;}
.thumb-slider .control { padding:5px 5px 5px 108px; height:70px; margin-top: 5px; overflow:hidden; background:#D5D5D5; font-size:12px; cursor:pointer; position:relative }
.thumb-slider .control:first-child { margin-top:0 }
.thumb-slider .control.active { background:#E51837; color:#FFF }
.thumb-slider .control .thumb { width:98px; position:absolute; left:0; top:0 }
.thumb-slider .control .sport { font-size:12px; text-transform:uppercase; color:#E51837 }
.thumb-slider .control.active .sport { color:#FEFFD3 }

/* MORE HEADLINES */
.more-headlines { position:relative }
.more-headlines .row { width:31%; margin:0 1%; padding-top: 20%; float:left; margin-bottom:10px; position:relative; overflow:hidden }
.more-headlines .info { position:absolute; top:100%; left:0; bottom:0; right:0; background:#000; background:rgba(0,0,0,0.5); padding:3.138075313808%; -moz-transition:all .2s; -webkit-transition:all .2s; -ms-transition:all .2s; -o-transition:all .2s; transition:all .2s }
.more-headlines .row:hover .info { top:0 }
.more-headlines .thumb { display:block; width:100%; position:absolute; left:0; top:0 }
.more-headlines .date { font-size:12px; text-transform:uppercase; display:block; margin-bottom:5px }
.more-headlines .title { font-size:16px; color:#fff }
.more-headlines .leadin { display:none }

/* NAVIGATION */
.dropnav { font-family:'montserratregular', helvetica; position:absolute; top: 169px; left:0; right:100px ; z-index: 3;}
.dropnav ul, .dropnav li { list-style:none; padding:0; margin:0 }
.dropnav > ul { float:right }
.dropnav .nav { float:left }
.dropnav .nav > a { display:block;  height:46px; line-height:46px; padding:0 20px; color:#FFF; font-size:16px; text-transform:uppercase; position:relative }
.dropnav .nav:hover > a { background:#000; color:#f7b312 }
.dropnav .nav:hover > a:before { content:""; width:0; height:0; border-style:solid; border-color:transparent transparent #000 ; border-width:0 20px 46px; position:absolute; left:-20px; top:0 }
.dropnav .nav:hover > a:after { content:""; width:0; height:0; border-style:solid; border-color:#000 transparent transparent; border-width:46px 20px 0; position:absolute; right:-20px; top:0 }

.dropnav .nav > .submenu { display: none; padding: 20px; position:absolute; left:0; right:0;  top: 46px; white-space:nowrap; box-shadow: 0 2px 40px #000 inset; background: rgb(95,95,95);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDNkM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(95,95,95,1) 1%, rgba(95,95,95,1) 55%, rgba(61,61,61,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(95,95,95,1)), color-stop(55%,rgba(95,95,95,1)), color-stop(100%,rgba(61,61,61,1)));
background: -webkit-linear-gradient(top,  rgba(95,95,95,1) 1%,rgba(95,95,95,1) 55%,rgba(61,61,61,1) 100%);
background: -o-linear-gradient(top,  rgba(95,95,95,1) 1%,rgba(95,95,95,1) 55%,rgba(61,61,61,1) 100%);
background: -ms-linear-gradient(top,  rgba(95,95,95,1) 1%,rgba(95,95,95,1) 55%,rgba(61,61,61,1) 100%);
background: linear-gradient(to bottom,  rgba(95,95,95,1) 1%,rgba(95,95,95,1) 55%,rgba(61,61,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#3d3d3d',GradientType=0 );
}
.dropnav .nav:hover > .submenu { display:block }
.dropnav .submenu a { white-space:nowrap; display: block; font-size:12px; color:#FFF; line-height:20px; text-transform:uppercase ; font-family: 'montserratregular',arial;}
.no-touch .dropnav .submenu a:hover { color:#fdb813 }
.dropnav .submenu.level1 > ul { float:left; position:relative; z-index:2 }
.dropnav .submenu.level1 > ul > li { padding:0 20px 0 0 }
.dropnav .submenu.level1 > ul > .has-submenu { float:left; width:50%; padding:0 }
.dropnav .submenu.level1 > ul > .has-submenu > a {  color: #FCB815; margin-bottom: 15px; display: block;  font-size: 20px;  padding: 0 10px;}
.dropnav .submenu.level2 > ul > .has-submenu > a { display:none }
.dropnav .submenu.level2 .submenu {}
.dropnav .submenu.level2 .submenu:hover { background:#424242 }
.dropnav .submenu.level2 .submenu a { font-size: 10px; color:#FFF;  line-height: 30px; text-transform: uppercase;}
.dropnav .submenu.level2 .submenu li { display:inline-block; vertical-align:top; padding:0 10px }
.dropnav .submenu.level2 .submenu li:first-child { min-width: 150px;}
.dropnav .submenu.level2 .submenu li:first-child a { color:#FFF; text-transform:uppercase ; font-size: 12px;}
.no-touch .dropnav .submenu.level2 .submenu li:hover a { color:#fdb813} 
.dropnav .submenu.level2 a[rel="wiki-link"] { display:none }
.dropnav .submenu a[rel="wiki-link"] { display:block }


/* SECONDARY NAV */
.secondary-nav { width:auto; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/section_hdr_bg.png) no-repeat }
.secondary-nav h1 { margin-bottom:0; float:left; padding-left:30px; font-family:'montserratbold',arial; font-size:24px; text-transform:uppercase; color:#000; text-shadow: 1px 1px #FFF ; height: 40px; line-height: 40px;}
.secondary-nav h1 .icon-menu { display:none }
.secondary-nav ul { list-style:none; padding:0; margin:0 }
.secondary-nav > ul { float:right }
.secondary-nav li { float:left; padding:17px 0 }
.secondary-nav li a { text-decoration:none; color:#000; text-transform: uppercase; font-size: 13px; display:block;  border-left: 1px solid #444; padding: 0 8px;}
.secondary-nav li:first-child a { border-left:0}
.secondary-nav .more { position:relative; z-index:2 }
.secondary-nav .dropdown { display:none; min-width:100px; padding:5px 0; position:absolute; right:0; top: 46px; background:#666 }
.secondary-nav .more:hover .dropdown { display:block }
.secondary-nav .more li { float:none; padding:0; line-height:30px }
.secondary-nav .dropdown a:before { content:""; padding:0 }
.no-touch .secondary-nav a:hover { color:#FDB813 }
.secondary-nav .dropdown a { display:block; padding:0 10px; white-space:nowrap; border-left:0; color:#FFF }

/*SPONSOR-BUTTONS*/
#sponsor-buttons li, #sponsor-buttons ul { list-style:none; padding:0; margin:0  }
#sponsor-buttons li { display:inline-block; width:25%; vertical-align:top; margin:0 -2px }
#sponsor-buttons li a,
#sponsor-buttons li img { display:block }
#sponsor-buttons li span { display:none }

/* BANNER */
.banner-nav ul { margin:0; padding:0; list-style:none }
.banner-nav li span { display:none }
.banner-nav li img { vertical-align:top }

/*SPONSOR-BUTTONS*/
#sponsor-buttons2 {margin-left: -25px;}
#sponsor-buttons2 li, #sponsor-buttons ul { list-style:none; padding:0; margin:0  }
#sponsor-buttons2 li { display:inline-block; width:33%; vertical-align:top }
#sponsor-buttons2 li a,
#sponsor-buttons2 li img { display:block }
#sponsor-buttons2 li span { display:none }

/*SLIDER*/
#slider-image { position:relative; border: 9px solid #302E2F;}
#slider-image .slider { height: 366px; position:relative; overflow:hidden }
#slider-image .items { height: 2000em; position:relative }
#slider-image .item { height: 357px;}
#slider-image .image { width:100%;  float: left ; overflow: hidden;}
#slider-image .image > img { display:block; width:100%; height:362px }
#slider-image .next, #slider-image .prev { display:block; width:111px; height:26px; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) -1034px 0 ; position: absolute; top: 0; cursor: pointer; left: 50%; margin-left: -55px; text-indent: -9999px;}
#slider-image .prev { background-position:-1034px -27px; bottom: -1px; top: auto;}
#slider-image .label { display:none }

/* TM-TABS */
#tm-tabs { min-height:470px; position:relative ; z-index:1; margin-bottom: 20px }
#tm-tabs .tabs { width:278px; position:absolute; right:0; top: 0; z-index:2; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) no-repeat -1202px -136px }
#tm-tabs .tabs.state2 { left:0; right:auto; background-position:-1202px -102px }
#tm-tabs .tab a { display:block; height:34px; text-indent:-9999px }
#tm-tabs .tab1 a { width:137px }
#tm-tabs .tab2 a { width: 141px }

#tm-tabs .pane { padding-top:34px; position:relative; color:#000; background:#FFF } 
#tm-tabs .pane .overflow { height:416px; padding:10px; overflow:auto }
#tm-tabs .pane1 { padding-top:0 }
#tm-tabs .pane1 .overflow{ height:auto; padding:0 }


/*VCT-TABS*/
#vct-tabs .tabs { width:450px;  background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20170926.png) no-repeat -520px -230px; }
#vct-tabs .tabs.state2 {  background-position:-520px -264px } 
#vct-tabs .tabs.state3 {  background-position:-520px -298px } 
#vct-tabs .tabs.state4 {  background-position:-520px -332px } 


#vct-tabs .tab a { height: 34px; display:block; text-indent:-9999px }

#vct-tabs .tab1 a { width:122px }
#vct-tabs .tab2 a { width:117px }
#vct-tabs .tab3 a { width:103px }
#vct-tabs .tab4 a { width:105px }

#vct-tabs .panes {  color:#FFF }
#vct-tabs .pane .overflow {  padding: 10px;   overflow: hidden;  height: 328px;}
#vct-tabs .pane1 .overflow { overflow:auto}
#vct-tabs .pane4{ background:url(/images/setup/aotw_bg.jpg) no-repeat }

/*Accordion TABS */
.accordion-tabs .tab_title { display:none }
.accordion-tabs .tab a { position:relative; display:block; width:80px; height:30px; line-height:30px; padding:0 10px; text-transform:uppercase; text-align:center; text-decoration:none; background:#CCCCCC; color:#000;font-family:'montserratregular',arial }
.accordion-tabs .tab a.active { z-index:1; background:#E21836; color:#fff }
.accordion-tabs .tab1 a.active:after { content:""; position:absolute; right:-15px; top:0; border:32px solid transparent; border-right-width:15px; border-top-color:#E21836; border-left:none }
.accordion-tabs .tab2 a.active:after { content:""; position:absolute; left:-15px; bottom:0; border:32px solid transparent; border-left-width:15px; border-bottom-color:#E21836; border-right:none }
.accordion-tabs .panes { position:relative }
.accordion-tabs .pane { display:block !important; position:absolute; left:0; right:0; top:-9999px; visibility:hidden }
.accordion-tabs .pane.active { position:static; visibility:visible }

.navbar-button img{ height:354px }

/*CFTI-TABS*/
#cfti-tabs .tabs { 
	width:auto;  
	background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) no-repeat; 
}

#cfti-tabs .tabs.state1 {  background-position:0 -230px }
#cfti-tabs .tabs.state2 {  background-position:0 -264px }
#cfti-tabs .tabs.state3 {  background-position:0 -298px }
#cfti-tabs .tabs.state4 {  background-position:0 -332px } 

#cfti-tabs .tab a { height: 34px; display:block; text-indent:-9999px }

#cfti-tabs .tab1 a { width:122px }
#cfti-tabs .tab2 a { width: 127px;}
#cfti-tabs .tab3 a { width: 105px;}
#cfti-tabs .tab4 a { width: 153px; }

#cfti-tabs .panes {  color:#FFF }
#cfti-tabs .pane .overflow {  padding: 10px;   overflow: hidden;  height: 320px;}
#cfti-tabs .pane2 .overflow { overflow:auto}


/*VIDEO*/
.video-playlist.m { padding-top:0 }
.video-playlist.m .player { height:250px }
.video-playlist.m .playlist { position:relative; background:#333 }
.video-playlist.m .playlist-panes { margin:0 22px; background:#333 }
.video-playlist.m .playlist-pane { position:relative; z-index:3; display:none !important; overflow:hidden }
.video-playlist.m .playlist-pane.active { display:block !important }
.video-playlist.m .playlist .item { float:left; padding:0; width:18.2%; margin-left:2%; border:none }
.video-playlist.m .playlist .item:first-child { margin-left:0 }
.video-playlist.m .playlist .thumb { float:none; margin:0; max-width:none; max-height:none; border:none }
.video-playlist.m .playlist .thumb img { vertical-align:middle; height:62px; max-width:none } 
.video-playlist.m .playlist .video-title { display:none }
.video-playlist.m .video-info { display:none }
.video-playlist.m .pagination { display:block; height:auto; position:static }
.video-playlist.m .pagination-status { display:none }
.video-playlist.m .pagination .prev,
.video-playlist.m .pagination .next { position:absolute; left:0; top:0; float:none; margin:0; display:block; width:22px; height:62px; overflow:hidden }
.video-playlist.m .pagination .next { left:auto; right:0 }
.video-playlist.m .pagination .prev:before,
.video-playlist.m .pagination .next:before { content:"\e80f"; font-family:'glyphicons'; font-size:30px; display:block; width:22px; line-height:62px; text-align:center; color:#fff }
.video-playlist.m .pagination .next:before { content:"\e810" }

#vct-tabs #videoplaylist_wrapper { max-width:100%; width: 100% !important; height:320px !important }
#vct-tabs .twitter-timeline { width:100% !important; max-width:100% }
#vct-tabs .social-link { display:none }

/*AOTW
.aotw { background:#000; background:rgba(0,0,0,0.5)}
.aotw .title > span { 
  display:block; 
  width:229px; 
  height:34px; 
  float:right; 
  background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) no-repeat -1202px -170px; 
  text-indent:-9999px;
}

.intramurals .aotw .title > span {   background-position:-1202px -314px; }

.aotw .info { padding:28px 0 24px; text-align:center }
.aotw .thumb { display:block; magin-bottom:20px } 
.aotw .thumb > img { border:3px solid #979797}
.aotw .info span { display:block; text-align:center; color:#FFF; font-size:16px }*/

/* CALENDAR */
.schedule-boxscore .event-box { padding-left:147px; margin-bottom:10px; position:relative; background:#FFF }
.schedule-boxscore .date-status { width:90px; height: 84px; padding:10px 40px 10px 17px; text-align:center; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/master_sprite20151014.png) no-repeat -1202px -207px #FFF; position:absolute; left:0; top:0  }
.schedule-boxscore .day { display:block; text-transform:uppercase; font-size:35px; letter-spacing:-1px; line-height:1.1 }
.schedule-boxscore .date { display:block; font-size:18px }
.schedule-boxscore .status { font-size:larg }
.schedule-boxscore .event-info { min-height:104px; color:#444; padding:10px; -webkit-box-sizing:border-box; box-sizing:border-box;  }
.schedule-boxscore .sport { color:#EF1235; text-transform:uppercase;  }
.schedule-boxscore .team { text-transform:uppercase; font-size:14px }
.schedule-boxscore .links a { color:#444; text-transform:uppercase; font-size:small; text-decoration:underline }

/* SITE SPECIFIC SCHEDULE STYLES */
.schedule-list table th { background:#d0112b; color:#FFF }
.schedule-list tr.event-home td { background-color: #eaaf0f; }

/* BIOS */
.internal-page .bio-wrap .head { background:#d0112b; font-weight:bold;color:#FFF }
.internal-page .bio-wrap .head a { color:#000 }
.mainbody .bio-wrap .about .val { font-size: 14px }

/* ROSTER */
.roster table { width:100%; border-collapse:collapse }
.roster td { padding:5px 10px }
.roster .roster-header td { background:#d0112b; color:#FFF }
.roster .roster-header a { color:#FFF }
.roster tr:nth-child(even) td { background:#F0F0F0 }
.roster-footer { margin-top:10px }

/* STATS */
.internal-page .stats-wrapper th{ background:#d0112b; color:#FFF }
.internal-page .stats-wrapper th a { color:#fff; text-decoration:underline }

/* COMPOSITE */
tr.schedule-header td {
    font-weight: bold;
    color: #FFF;
    background-color: #d0112b;
    padding: 5px;
}

tr.schedule-row td {
  padding: 5px;
}


tr.schedule-row0 td {
  background-color: #e1e1e1;
  color: #000;
  padding: 5px 0;
}


.navbar-social {
    left: 280px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
}
.navbar-social-li { display: inline-block; }

.navbar-social-link {
    display: block;
    font-size: 24px;
    overflow: hidden;
}


@media only screen and (max-width:1105px) {
#header-logo { left:0 }
.dropnav .nav > a { padding:0 18px }
}

@media only screen and (max-width:1028px) {
#site-header { background:#000 }
#site-header > .container { height:auto }
#header-logo { display:none }
#header-text { width:100%; height:115px; position:relative; left:0; top:0 ; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/header_tablet.png) no-repeat 50% 0;}
.dropnav { position:relative ; top: 0; background: #E21736;}
.dropnav > ul { float:none }
}

@media only screen and (max-width:980px) {

.bottom-row .lcol { width: auto; border: 1px solid #575757; float:none; background:#000; background:rgba(0,0,0,0.5); margin-bottom:20px }
.bottom-row .rcol { width: 49%; float:left }
.bottom-row .mcol { width: 49%; float:right }

}

@media only screen and (max-width:920px) {

#tm-tabs { min-height:0 }
#tm-tabs .tabs { left:0; right:auto }
#tm-tabs .pane1 { padding-top:34px }
.carousel-wrapper { height: auto }
.carousel-wrapper .lcol { position:relative; right:0 }
.carousel-wrapper .rcol { display:none }
.j-carousel .media-box { height: 0; width: 100%; padding-top: 46.73913043478261%; padding-bottom: 120px;}

#mobile-menu-bar { display:block; width: 100%; height:46px; background:#E21736; position:relative }
#mobile-menu-bar ul, #mobile-menu-bar li { list-style:none; padding:0; margin:0 }
#mobile-menu-bar > ul { float:right }
#mobile-menu-bar li { float:left }
#mobile-menu-bar li a { display:block; height: 46px; line-height: 46px; padding: 0 10px; text-align:center; font-size: 14px; color:#fff; text-transform:uppercase; text-decoration: none; white-space:nowrap }
#mobile-menu-bar li a.active { background: #FAB713; color: #333;}

#search-bar.active { display:block; height:25px; padding: 5px 70px 5px 5px; background: #e21836; position: relative; left:0; overflow: hidden; z-index: 3;}
#search-bar input[type="submit"] { width: 60px; height: 25px; position:absolute; right:5px; top:5px ; text-indent:0; border: none; background: #FFF; color: #000;}
#search-bar input[type="text"] { width: 100%; height:25px; border:none; padding:0; text-indent:10px; display: block; background:#FFF }

.dropnav { display:none }
.dropnav.active { display:block }
.dropnav .nav { float:none }
.dropnav .nav > .submenu { padding:0; position:static }
.dropnav .nav:hover > .submenu { display:none }
.dropnav .nav > a, .dropnav .subemnu a { display:block; padding:0 10px; height: 34px; line-height: 34px; font-weight:normal; text-transform:none; color:#FFF ; position: static;}
.dropnav li { position:relative; z-index:100; border-bottom:solid 1px #111; border-top:1px solid #444; background:#333 }
.dropnav li.active, #nav li.active li { background:#242424; border:none }
.dropnav li:last-child, .dropnav li.active li:last-child { border-bottom:none }
.dropnav li:first-child, .dropnav li.active li:first-child { border-top:none }
.dropnav .has-submenu > a { margin-right:40px }
.dropnav .has-submenu:hover > a:after,
.dropnav .has-submenu > a:after { display:block; width:40px; height: 34px; line-height: 34px; font-family:arial; color:#FFF; text-align:center; background:#444; position:absolute; right:0; top:0; content: "+"; border:none }
.dropnav .has-submenu.active:hover > a:after,
.dropnav .has-submenu.active > a:after { content:" -"; color:#FFF }
.dropnav .has-submenu > .submenu { display:none }
.dropnav .has-submenu.active > .submenu { display:block }
.dropnav .level2 .has-submenu > .submenu { display:block }
.dropnav .nav:hover > a:before { display:none }
.dropnav .submenu.level1 > ul > .has-submenu > a { margin:0; line-height:34px; text-transform:none; color:#FFF; font-size:14px }
.dropnav .submenu.level1 > ul > .has-submenu { width:100%; float:none }
.dropnav .submenu.level2 .submenu li a { display:none }
.dropnav .submenu.level2 .submenu li { display:block; width:100%; padding:0 }
.dropnav .submenu.level2 .submenu li:first-child a { display:block; padding:0 10px }

}

@media only screen and (max-width: 767px) {

body { padding:0 }

.bottom-row { margin-bottom:0 }
.bottom-row .lcol { margin-bottom:5px }
.bottom-row .rcol,
.bottom-row .mcol { width: 50%; float:left; margin:0 auto}

#site-header { margin-bottom:5px }
#header-text { height:90px; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/header_mobile_wide.png) no-repeat 0 50% }
#mobile-menu-bar { width:auto; height:30px; position:absolute; right:5px; top:25px; background:none }
#mobile-menu-bar li { margin-left:5px }
#mobile-menu-bar li a { height:30px; line-height:30px; background: #e21736; -webkit-border-radius:5px; border-radius:5px }
#mobile-menu-bar li .text { display:none }

#tm-tabs { margin-bottom:5px }
#tm-tabs .tabs { display:none }
#tm-tabs .pane { display:block !important ; padding: 0;}
#tm-tabs .pane .overflow { height:auto; padding:0 }

#vct-tabs .tabs { display:none }
#vct-tabs .pane { display:block !important;}
#vct-tabs .pane:first-child { margin-top:0 }
#vct-tabs .pane .overflow { height:auto; padding:0 }

#vct-tabs #videoplaylist_wrapper { height:250px !important }

.more-headlines { padding:5px; background:#e21836 }
.more-headlines .row { width: 100%; margin: 0 0 5px; padding-top: 40%; float:left; position:relative; overflow:hidden ; color: #FFF;}
.more-headlines .row:nth-child(n+6) { display:none }
.more-headlines .info { position:relative; top:0%; }


.j-carousel .story-box { height:100px; padding: 10px; position: absolute; left: 0; right: 0; bottom: 0; background: #000; background: rgba(0,0,0,0.5);}
.j-carousel .story-box .title { font-size: 16px; font-weight: normal;}
.j-carousel .story-box .date { position:static; font-size:12px }
.j-carousel .story-box .leadin, .j-carousel .story-box .readmore { display:none }
.j-carousel .controls { padding:10px; position:relative; left:0; bottom:0 ; text-align: center;}
.j-carousel .control { display:inline-block; vertical-align:top; width:18%; height:30px  ; margin: 0; float: none;}
.j-carousel .control.active { background:#E21836 }

#vct-tabs .social-link { display:block; height:30px; line-height:30px; padding:0 10px; background:#E51837; color:#FFF; font-size:12px  }
#vct-tabs .social-widget { display:none }

.secondary-nav { background:#e21836; padding:0 }
.secondary-nav h1 { padding:0 10px; font-size:16px; float: none; color:#FFF; text-shadow:none }
.secondary-nav h1 .icon-menu { display:inline-block; float:right }
.secondary-nav ul { display:none ; float: none; background:#666 }
.secondary-nav ul.active { display:block }
.secondary-nav li { float:none ; padding: 0;}
.secondary-nav li a { display:block; padding:0 10px; color:#FFF; line-height:30px; text-transform:none }
.secondary-nav li a:before { content:""; padding:0 }
.secondary-nav .more > a { display:none }
.secondary-nav .more .dropdown { display:block; position:static;  }
.secondary-nav .dropdown a { color:#FFF }

#sponsor-buttons li { display:block; width:100%; margin-top:5px }
#sponsor-buttons li span { display:block; height:30px; line-height:30px; background:#e21836; color:#FFF; padding:0 10px }

#sponsor-buttons2 li img { display:none !important }
#sponsor-buttons2 li { display:block; width:100%; margin-top:5px }
#sponsor-buttons2 li span { display:block; height:30px; line-height:30px; background:#e21836; color:#FFF; padding:0 10px; border-radius:5px }

#footer-logos { margin-bottom:0 }
#footer-logos li img { display:none !important }
#footer-logos li span { display:block; padding:10px; color:#FFF }
#footer-logos li:last-child { display:block ; width: 181px; margin: 0 auto;}
#footer-logos li:last-child img { display:block !important ; margin-left: -5px }
#footer-logos li:last-child span { display:none }

.schedule-boxscore .event-box { margin-top:5px; margin-bottom:0 ; padding-left: 90px;}
.schedule-boxscore .event-box:first-child{ margin-top:5px }
.schedule-boxscore .event-box:nth-child(n+6) { display:none }
.schedule-boxscore .date-status { width:90px; height: 84px; padding: 10px 0;}
.schedule-boxscore .day { font-size:16px }
.schedule-boxscore .date { display:block; font-size:14px }
.schedule-boxscore .event-info { font-size:13px  }
.schedule-boxscore .sport { color:#EF1235; text-transform:uppercase;  }
.schedule-boxscore .team { text-transform:uppercase; font-size:13px }

/* SCHEDULES */
.schedule { font-size:13px; line-height:1.4 }
.schedule .title { font-size:1.2em; margin-bottom:10px; font-weight:bold }
.schedule .team-record .titles > div,
.schedule .team-record .data > div { padding:5px; -webkit-box-sizing:border-box; box-sizing:border-box }
.schedule .table .titles { display:none }
.schedule .team-record .titles  { display:block; color:#FFF; overflow:hidden; padding:5px 5px 0 }
.schedule .team-record .item { padding:5px}
.schedule .team-record { text-align:center; margin-bottom:10px; border-top:solid 1px #CCC; border-bottom:solid 1px #CCC }
.schedule .team-record .titles > div,
.schedule .team-record .data > div { width: 23%; text-align:center; color:#444; margin:0 1%; float:left; background:#DAD8D8; border-radius:3px }
.schedule .team-record .titles > div { background:#333; color:#FFF }
.schedule .opponent { width: 70%; float:left }
.schedule .result { width: 30%; float:left; text-align:right }
.schedule .time { position:absolute; right:0; top:0 }
.schedule .item { padding:10px }
.schedule .item.even { background-color:#eee }
.schedule .item .data { overflow:hidden; position:relative }
.schedule .conf-teams-container { width:100% }
.schedule .conf-teams-container .opponent { width:80%; float:left }
.schedule .conf-teams-container .result { width:20%; float:right }
.schedule .more { display:block !important }
.schedule .more strong { font-weight:normal }
.schedule .more a { display:inline-block; vertical-align:top; text-decoration:none }
.schedule .more a:after { content:"\00BB"; padding:0 5px 0 4px }
.schedule .arrow { display:none }

/* BIOS */
.bios .profile { overflow:hidden; color:#FFF; background:#e21836; position:relative; padding: 10px 10px 10px 110px;}
.bios .icon { position:absolute; right:31px; bottom:-4px }
.bios .images { width: 100px; padding-top:50px; float:left; margin-left: -110px; text-align:center; position:relative }
.bios .photo img { border: 2px solid #333 }
.bios .number { font-size:20px; line-height: 40px; position:absolute; left: 5px; right: 5px; top:0; font-weight: bold;}
.bios .texts .name { font-size:1.2em; padding:5px 10px; margin-bottom:10px;background:#333; color:#FFF; border-radius:3px }
.bios .data { line-height:20px }
.bios .profile .texts .icon { text-align: right; padding: 0 31px 0 0; position:relative; top:3px }
.bios .details { color:#444; text-align:left; padding:10px; margin:0 }
.bios #mobile-bios-tabs-container { display:none }

}

@media only screen and (max-width: 479px) {
#header-text { height:90px; background:url(http://cdnak1.psbin.com/ixp0rd8q6qwrulu8/images/setup/header_mobile.png) no-repeat 5px 50% }

.bottom-row .rcol,
.bottom-row .mcol { width: 100%; float:none; margin:0 auto }
}

/* CAMPS */
.camp-box > h2 {background-color: #D0112B!important;}
.camp-box button:hover {background: #D0112B!important;}
.camp-box button {background: #000!important; color: #fff;}
.camp-box button:before {background: #D0112B!important;}

.instagram-feed { position:relative; overflow:auto; height:370px }
.instagram-feed ul { margin:0; list-style:none }
.instagram-feed .item { width:33%; float:left }
.instagram-feed .item .gutter { padding:2px 0 0 2px }
.instagram-feed img { vertical-align:middle; width:100% }
.instagram-feed img.lazyload,
.instagram-feed img.lazyloading { opacity:0; transform:scale(0) }
.instagram-feed img.lazyloaded { opacity:1; transition:opacity .8s, transform .4s; transform:scale(1); transition-delay:.4s }
.instagram-feed .item .placeholder { position:relative; padding-top:100% }
.instagram-feed .load-more { text-align:center; cursor:pointer }
.instagram-feed .load-more span { position:absolute; left:0; right:0; top:50%; margin-top:-1em; color:#444; text-transform:uppercase }
.instagram-feed .item a { display:block; position:absolute; left:0; right:0; top:0; bottom:0; background:#ccc; text-decoration:none }
.instagram-feed .item.video a:before { content:"\e80a"; position:absolute; left:0; right:0; top:50%; z-index:2; font-family:'glyphicons'; font-size:30px; line-height:1; margin-top:-15px; color:#eee; text align:center; text-shadow:0 0 2px rgba(0,0,0,0.5); speak:none }
.instagram-feed .item a:after { content:""; transition:background .6s ease-out }
.instagram-feed .item:hover a:after { position:absolute; left:0; right:0; top:0; bottom:0; z-index:3; background:rgba(0,0,0,0.2) }
.instagram-feed .prev,
.instagram-feed .next { display:none }

